html {
    color: #222;
    font-size: 1em;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background: #afafaf;
}

body {
    margin: 0;
    overflow-x: hidden;
    background: #fafafa;
}

hr {
    box-sizing: content-box;
    overflow: visible;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

html p .title {
    margin: 0px 0px 1rem 0px;
    padding: 0px;
}

h2 {
    color: rgba(255, 255, 255, 0.6);
}

.h3 {
    font-size: calc(56px + (72 - 56) * ((100vw - 300px) / (1600 - 300)));
    /* border-top: 1px solid #000;
    border-bottom: 1px solid #000; */
}

.display-4 {
    font-size: calc(40px + (56 - 40) * ((100vw - 300px) / (1600 - 300)));
}

.display-5 {
    font-weight: 300;
    line-height: 1.2;
    font-size: calc(40px + (56 - 40) * ((100vw - 300px) / (1600 - 300)));
}

.summary,
.table td,
.lead {
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300))) !important;
}

.underline {
    text-decoration: underline;
}

.opacity {
    opacity: 0.6;
}

/* title */
.titleparallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url("../images/monterey-min.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    position: relative;
    z-index: 9;
}

/* 404 */
.four04parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/santa-cruz-min.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: 100vh;
    position: relative;
}

@media (max-width: 576px) {

    .arrows,
    #fixedbutton {
        display: none;
    }

    .nav-item {
        font-size: 0.8rem;
    }

    #meme {
        max-width: 50%;
    }
}

@media (min-width: 576px) {

    #meme {
        max-width: 60%;
    }
}

@media (max-width: 768px) {

    #splashpage {
        margin-top: 8vh;
    }

    /* title */
    .titleparallax {
        background-attachment: scroll;
    }

    /* 404 */
    .four04parallax {
        background-attachment: scroll;
    }

    .name::before,
    .name::after {
        display: inline-block;
        content: "";
        border-top: .2rem solid black;
        width: 1rem;
        margin: 0 1rem;
        transform: translateY(-1rem);
    }
}

@media (min-width: 768px) {


    #splashpage {
        margin-top: 28vh;
    }

    /* title */
    .titleparallax {
        background-attachment: fixed;
    }

    /* 404 */
    .four04parallax {
        background-attachment: fixed;
    }

    #meme {
        max-width: 75%;
    }

    .name::before,
    .name::after {
        display: inline-block;
        content: "";
        border-top: .2rem solid black;
        width: 4rem;
        margin: 0 1rem;
        transform: translateY(-1rem);
    }
}

@media (min-width: 992px) {
    #meme {
        max-width: 75%;
    }
}

@media (min-width: 1200px) {

    #meme {
        max-width: 50%;
    }
}

.navbar {
    width: 173.5px;
}

#fixedbutton {
    font-size: 0.8rem;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 1;
    /* width: 100px; */
}

.hideme {
    opacity: .2;
}


.arrow-container {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    display: block;
    background: transparent;
    text-align: center;
    width: auto;
}

.arrows path {
    stroke: rgba(255, 255, 255, 0.6);
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2.5s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

svg.arrows {
    vertical-align: top;
    width: 64px;
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 0;
    display: block;
    right: 25%;
    left: 50%;
    margin-left: -85px;
    width: 170px;
}

.backgrade {
    background-image: linear-gradient(#fafafa, #afafaf);
}

/* component heights */
.section {
    min-height: 100vh;
}

.table td {
    color: black;
}

a:link,
a:visited,
.projectlinks {
    color: black;
    text-decoration: none;
}

.biolinks {
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: calc(16px + (36 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-decoration: none !important;
}

.biolinks:hover,
a:hover {
    color: #7692ba !important;
}

.project:hover {
    box-shadow: 0 1rem 2rem rgba(68, 68, 68, 10.75);
}

#footer {
    text-align: center;
    background-color: #f7f7f7;
}