html {
    color: #222;
    font-size: 1em;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

#pageindex {
    background-color: #D8D2C2;
}
.headercolorindex,
.headercolorindex a {
    background-color: #FAF7F0;
    color: #B17457 !important;
}

.text-index {
    color: #4A4947;
}

.card-header {
    background-color: #4A4947;
    color: #FAF7F0;
}

.card-body {
    background-color: #FAF7F0;
}

#submit_button {
    background-color: #B17457;
    color: #D8D2C2;
}

.sectionbg {
    background-color: #FAF7F0;
}
.table-striped {
    --bs-table-striped-bg: #D8D2C2; /* Replace with your desired color */
}
.opacity {
    opacity: 0.6;
}

/* title */
.titleparallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url("../images/monterey-min.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* min-height: 100vh; */
    min-height: calc(100vh - 128px);
    position: relative;
}


#meme {
    padding: 4px;
    border: 2px solid #B17457;
}

@media (max-width: 576px) {

    .arrows,
    #fixedbutton {
        display: none;
    }

    #meme {
        max-width: 50%;
    }
}

@media (min-width: 576px) {

    #meme {
        max-width: 60%;
    }
}

@media (max-width: 768px) {

    #splashpage {
        margin-top: 8vh;
    }

    /* title */
    .titleparallax {
        background-attachment: scroll;
    }
}

@media (min-width: 768px) {


    #splashpage {
        margin-top: 28vh;
    }

    /* title */
    .titleparallax {
        background-attachment: fixed;
    }

    #meme {
        max-width: 75%;
    }
}

@media (min-width: 992px) {
    #meme {
        max-width: 75%;
    }
}

@media (min-width: 1200px) {

    #meme {
        max-width: 50%;
    }
}

#fixedbutton {
    font-size: 0.8rem;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    z-index: 1;
    /* width: 100px; */
}

#fixedbutton p  {
    color: #B17457 !important;
}

.arrow-container {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    display: block;
    background: transparent;
    text-align: center;
    width: auto;
}

.arrows path {
    stroke: rgba(255, 255, 255, 0.6);
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2.5s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

svg.arrows {
    vertical-align: top;
    width: 64px;
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 0;
    display: block;
    right: 25%;
    left: 50%;
    margin-left: -85px;
    width: 170px;
}

.table td {
    color: black;
}

a,
.projectlinks {
    color: #B17457;
    text-decoration: none;
}
#fixedbutton p a:visited {
    color: #B17457;
    text-decoration: none;
}

.biolinks {
    color: #ffffffe6 !important;
    text-decoration: none !important;
}

.biolinks:hover,
a:hover {
    color: #7692ba !important;
}