html {
    color: #222;
    font-size: 1em;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background: #FDF9F3;
    /* padding-top: 80px; */
}

body {
    margin: 0;
    overflow-x: hidden;
    background: #FDF9F3;
}

.opacity {
    opacity: 0.6;
}

/* title */
.titleparallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
        url("../images/monterey-min.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /* min-height: 100vh; */
    min-height: calc(100vh - 128px);
    position: relative;
    z-index: 9;
    background-color: #FDF9F3;
}

/* 404 */
.four04parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/santa-cruz-min.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: calc(100vh - 175px);
    position: relative;
}

@media (max-width: 576px) {

    .arrows,
    #fixedbutton {
        display: none;
    }

    .nav-item {
        font-size: 0.8rem;
    }

    #meme {
        max-width: 50%;
    }
}

@media (min-width: 576px) {

    #meme {
        max-width: 60%;
    }
}

@media (max-width: 768px) {

    #splashpage {
        margin-top: 8vh;
    }

    /* title */
    .titleparallax {
        background-attachment: scroll;
    }

    /* 404 */
    .four04parallax {
        background-attachment: scroll;
    }
}

@media (min-width: 768px) {


    #splashpage {
        margin-top: 28vh;
    }

    /* title */
    .titleparallax {
        background-attachment: fixed;
    }

    /* 404 */
    .four04parallax {
        background-attachment: fixed;
    }

    #meme {
        max-width: 75%;
    }
}

@media (min-width: 992px) {
    #meme {
        max-width: 75%;
    }
}

@media (min-width: 1200px) {

    #meme {
        max-width: 50%;
    }
}

.navbar {
    /* width: 173.5px; */
}

#fixedbutton {
    font-size: 0.8rem;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 1;
    /* width: 100px; */
}

.hideme {
    opacity: .2;
}


.arrow-container {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    display: block;
    background: transparent;
    text-align: center;
    width: auto;
}

.arrows path {
    stroke: rgba(255, 255, 255, 0.6);
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2.5s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

svg.arrows {
    vertical-align: top;
    width: 64px;
    text-align: center;
}

.bottom {
    position: absolute;
    bottom: 0;
    display: block;
    right: 25%;
    left: 50%;
    margin-left: -85px;
    width: 170px;
}

.backgrade {
    /* background-image: linear-gradient(#fafafa, #afafaf); */
    background-color: #FDF9F3;
}

.headercolorindex, .headercolorindex a, #submit_button {
    background-color: #4e5e6d;
    color: #f0f2f4 !important;
}

.headercolor404, .headercolor404 a {
    background-color: #bbc2ce;
    color: #4e5e6d !important;
}

.table td {
    color: black;
}

a:link,
a:visited,
.projectlinks {
    color: black;
    text-decoration: none;
}

.biolinks {
    color: rgba(255, 255, 255, 0.9) !important;
    text-decoration: none !important;
}

.biolinks:hover,
a:hover {
    color: #7692ba !important;
}