html {
    color: #222;
    font-size: 1em;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background: #afafaf;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: #4B5945;
}

#pagephoto {
    background-color: #4B5945;
}
.headercolor,
.headercolor a, .sectioncolor {
    background-color: #B2C9AD;
    color: #4B5945 !important;
}

.opacity {
    opacity: 0.8;
}

@media (max-width: 576px) {
}

.photodetails {
    font-style: italic;
    position: relative !important;
    top: -30px !important;
    left: 10px;
}

.datedetails {
    color: white;
    position: relative !important;
    top: 30px !important;
    left: 10px;
}

#modalImage {
    max-height: calc(100vh - 136px);
    max-width: 100%;
}

.image-container {
    cursor: zoom-in;
    aspect-ratio: 3 / 2;
    /* Set your desired aspect ratio (e.g., 4:3) */
    overflow: hidden;
    /* Prevent image overflow */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Crop or scale the image to fill the container */
}

.modal-body,
.modal-header {
    background-color: transparent;
}

.modal-content {
    width: 100%;
    background-color: transparent !important;
    border: none;
}

.modal-backdrop {
    opacity: 0.85 !important;
}

.modal-dialog {
    margin: auto !important; /* Center modal */
    display: flex !important; /* Enable flexbox on the modal dialog */
    align-items: center !important; /* Center vertically */
    justify-content: center !important; /* Center horizontally */
}

#submit_button {
    background-color: #66785F;
    color: #B2C9AD;
}