html {
    color: #222;
    font-size: 1em;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.headercolor,
.headercolor a {
    background-color: #B6B09F;
    color: #000000 !important;
}
.opacity {
    opacity: 0.8;
}

#pagebg {
    background-color: #F2F2F2;
}

.four04parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/santa-cruz-min.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: calc(100vh - 160px);
    position: relative;
}

@media (max-width: 768px) {
    #splashpage {
        margin-top: 8vh;
    }

    .four04parallax {
        background-attachment: scroll;
    }
}

@media (min-width: 768px) {
    #splashpage {
        margin-top: 28vh;
    }

    .four04parallax {
        background-attachment: fixed;
    }
}

.biolinks {
    color: #ffffffe6 !important;
    text-decoration: none !important;
}

.biolinks:hover {
    color: #B3C8CF !important;
}