
.headercolor404,
.headercolor404 a {
    background-color: #B6B09F;
    color: #000000 !important;
}

#page404 {
    background-color: #F2F2F2;
}
/* 404 */
.four04parallax {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../images/santa-cruz-min.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    min-height: calc(100vh - 166px);
    position: relative;
}

.footer404 {
    color: #000000;
}
@media (max-width: 768px) {
    #splashpage {
        margin-top: 8vh;
    }
    /* 404 */
    .four04parallax {
        background-attachment: scroll;
    }
}

@media (min-width: 768px) {
    #splashpage {
        margin-top: 28vh;
    }

    /* 404 */
    .four04parallax {
        background-attachment: fixed;
    }
}
.biolinks404 {
    color: #ffffffe6 !important;
    text-decoration: none !important;
}
.biolinks404:hover {
    color: #B3C8CF !important;
}